body {
  background-color: #f9f7fe;
  font-family: "Exo 2", sans-serif;
}
header {
  background-color: white;
  max-width: 600px;
  display: block;
  margin: 0 auto;
}
h1 {
  text-align: center;
}
.weatherForm {
  display: inline-flex;
}
#form-search-city {
  padding: 10px;
  width: 75%;
  position: relative;
  font-size: 20px;
  font-family: "Exo 2", sans-serif;
  margin: 20px -2px 20px 10px;
  background-color: #f9f7fe;
  border: 2px solid #e9d2fd;
  padding: 10px 30px;
  box-sizing: border-box;
  border-right: none;
  border-radius: 50px 0px 0px 50px;
  font-weight: bolder;
}
#form-button {
  position: relative;
  padding: 10px;
  width: 20%;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  font-family: "Exo 2", sans-serif;
  margin: 20px 10px 20px -2px;
  background-color: #e9d2fd;
  border: 2px solid #885df1;
  padding: 10px 30px;
  box-sizing: border-box;
  border-left: none;
  border-radius: 0px 50px 50px 0px;
  font-weight: bolder;
}
.weatherDetails {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: 0 20px 0 20px;
}
.weatherDetails-emoji {
  font-size: 70px;
  margin-right: 100px;
}
.weatherDetails-description {
  position: absolute;
  font-size: 15px;
  margin-right: -100px;
}
.weatherDetails-temp {
  font-size: 15px;
  font-weight: bold;
  text-transform: capitalize;
}
.weatherDetails-degrees {
  font-size: 70px;
  font-weight: bold;
}
.weatherDetails-celsius {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}
.weatherDetails-minmax {
  font-weight: lighter;
  margin-left: -30px;
}
ul {
  padding: 30px 10px 30px 10px;
}
li {
  list-style: none;
  text-align: center;
}
.weatherApp-container {
  background-color: white;
  max-width: 600px;
  display: block;
  margin: 0 auto;
}
ul.weatherDetailsExtra {
  display: flex;
  list-style: none;
  justify-content: space-between;
}
div.forecastDaily-details {
  background-color: white;
  max-width: 600px;
  display: block;
  margin: 0 auto;
}
ul.forecastDaylyDetails {
  max-width: 600px;
  display: block;
  margin: 0 auto;
}

li.forecastDaylyHours {
  display: none;

  justify-content: space-between;
  list-style: none;
  background-color: white;
  text-align: center;
  padding-top: 20px;
  border-radius: 20px;
}
li.wind {
  padding: 20px 0px 20px 0px;
}
li.humidity {
  padding: 20px 0px 20px 0px;
}
li.precipitation {
  padding: 20px 0px 20px 0px;
}
li.forecastDays {
  display: none;
  list-style: none;
  background-color: white;
  padding-top: 20px;
  border-radius: 20px;
}

div.forecastWeekly {
  max-width: 600px;
  display: block;
  margin: 0 auto;
}
footer {
  text-align: center;
}
div.button-container {
  display: flex;
  justify-content: center;
}
button.daily-button {
  display: none;
  position: relative;
  font-weight: 500;
  font-size: 25px;
  font-family: "Exo 2", sans-serif;
  letter-spacing: 2px;
  margin-right: -2.4px;
  margin-top: 20px;
  line-height: 13px;
  background-color: #e9d2fd;
  border: 2px solid #885df1;
  padding: 10px 30px;
  box-sizing: border-box;
  border-right: none;
  border-radius: 50px 0px 0px 50px;
  font-weight: bolder;
}
button.weekly-button {
  display: none;
  position: relative;
  font-weight: 500;
  font-size: 25px;
  font-family: "Exo 2", sans-serif;
  letter-spacing: 2px;
  margin-right: -2.4px;
  margin-top: 20px;
  line-height: 13px;
  background-color: #e9d2fd;
  border: 2px solid #885df1;
  padding: 10px 30px;
  box-sizing: border-box;
  border-left: none;
  border-radius: 0px 50px 50px 0px;
  font-weight: bolder;
}
button.weekly-button:hover {
  background-color: #885df1;
  font-style: white;
  cursor: pointer;
  color: white;
}
button.daily-button:hover {
  background-color: #885df1;
  font-style: white;
  cursor: pointer;
  color: white;
}
