body {
  background-image: url("images/sky.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Exo 2", sans-serif;
}
header {
  background-color: rgba(255, 255, 255, 0.5);
  max-width: 450px;
  display: block;
  margin: 0 auto;
  border-radius: 15px;
  margin-top: 30px;
  margin-bottom: 20px;
  box-shadow: 1px 5px 5px 1px #47505354;
}

.weatherForm {
  display: inline-flex;
  font-family: "Exo 2", sans-serif;
}
#form-search-city {
  width: 75%;
  position: relative;
  font-size: 15px;
  font-family: "Exo 2", sans-serif;
  margin: 20px -2px 20px 10px;
  background-color: #e4f1fe2d;
  border: 2px solid #8dc6ff;
  padding: 10px 30px;
  box-sizing: border-box;
  border-right: none;
  border-radius: 50px 0px 0px 50px;
  font-weight: bolder;
}
#form-button {
  position: relative;
  width: 20%;
  text-align: left;
  font-weight: bold;
  font-size: 15px;
  font-family: "Exo 2", sans-serif;
  margin: 20px 10px 20px -2px;
  background-color: #8dc6ff69;
  border: 2px solid #8dc6ff;
  padding: 10px 10px 10px 19px;
  box-sizing: border-box;
  border-left: none;
  border-radius: 0px 50px 50px 0px;
  font-weight: bolder;
}
.weatherApp-container {
  background-color: rgba(255, 255, 255, 0.5);
  max-width: 450px;
  display: block;
  margin: 0 auto;
  padding-top: 20px;
  border-radius: 15px;
  box-shadow: 1px 5px 5px 1px #47505354;
}
.city {
  font-size: 40px;
  font-weight: bold;
  color: black;
  margin: 40px;
}
.weatherDetails {
  display: flex;
  justify-content: space-between;
  margin: -20px 20px 0px 20px;
}
.weatherDetails-city {
  margin-top: 30px;
}
span#description {
  margin-right: 20px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  color: rgba(39, 33, 66, 0.6);
}
span#temp-degrees {
  margin-left: 20px;
}
.weatherDetails-emoji {
  position: relative;
  margin-left: 10px;
  margin-top: -10px;
  padding: 2px;
  width: 150px;
  height: 150px;
}
.weatherDetails-description {
  position: absolute;
  font-size: 15px;
  color: rgba(39, 33, 66, 0.6);
  margin-left: 35px;
}
.weatherDetails-temp {
  margin-top: 40px;
  font-size: 15px;
  font-weight: bold;
  color: rgba(39, 33, 66, 0.6);
}
.weatherDetails-degrees {
  font-size: 70px;
  font-weight: bold;
  color: black;
}
.weatherDetails-celsius {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
  color: black;
}
.weatherUpdate-date {
  text-align: center;
  color: rgba(39, 33, 66, 0.6);
  font-weight: bold;
  padding: 20px;
  font-size: 15px;
}
.realFeel-emoji {
  margin-left: 10px;
}
.wind-emoji {
  margin-left: 12px;
}
img {
  width: 50px;
  padding: 10px;
}
li {
  list-style: none;
  text-align: center;
}
img.forecastemoji {
  width: 25px;
}

ul.weatherDetailsExtra {
  display: flex;
  list-style: none;
  justify-content: space-between;
  font-size: 13px;
  font-weight: bold;
  color: rgba(39, 33, 66, 0.6);
  margin: 0px 30px 0px 0px;
}
.weatherDetails-value {
  font-size: 11px;
}
footer {
  color: white;
  font-size: 12px;
  text-align: center;
  color: rgba(235, 231, 250, 0.6);
  margin-top: 20px;
}
.links {
  color: rgba(235, 231, 250, 0.697);
}
